{% extends 'problems/base.html' %}

{% block title %}
{{ title }}
{% endblock %}

{% block content %}
    <h1>Список {{ list.id }}</h1>
    {% for problem in problems  %}
        <div class="card mb-3">
            <div class="card-header">
                <a href="{{ problem.get_absolute_url }}">{{problem}}</a>
            </div>
            <div class="card-body">
                <i>{{ problem.problemtype.condition }}</i>
                <div class="text-center">
                    {{ problem.body }}
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}